#alltable{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.table {
    width: 90%;
    /* background-color: red; */
    /* border: 1px solid black; */

}

table {
    width: 100%;
}

.h2add{
    display: flex
    ;
        color: blue;
        cursor: pointer;
        font-size: 20px;
}
.span{
    color: black;
    border: 1px solid black;
    border-Radius: 22px;
    padding-bottom: 3px;
    width: 28px;
    margin-right: 10px;
}