
.logbody {
    /* margin: 0;
    padding: 0;
    box-sizing: 0; */
    width: 100%;
    height: 650px;
    /* background-image: url('/src/assest/render-abstract-black-crystal-ba.png'); */
    background-color: #342b2b;
    background-image: linear-gradient(45deg, #342b2b 0%, #424040 40%, #3b3e3e 60%, #2b2826 100%);
 
    
}

.h1log {
    /* color: white; */
}


.log {
    border: 1px solid grey;
    border-radius: 40px 10px;
    width: 35%;
    height: 30rem;
    margin-left: 32%;
    /* margin-top: 7%; */
    /* box shadow */
    -webkit-box-shadow: 13px 12px 21px 11px rgba(0,0,0,0.26);
    -moz-box-shadow: 13px 12px 21px 11px rgba(0,0,0,0.26);
    box-shadow: 13px 12px 21px 11px rgba(0,0,0,0.26);

    background-color: white;
}

.idpass {
    display: flex;
    /* align-content: center; */
    flex-direction: column;
    align-items: center;

}

input[type="email"] {
    height: 40px;
    width: 70%;
    padding: 3px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    font-size: 16px;
}

input[type="password"] {
    height: 40px;
    width: 70%;
    padding: 3px 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    font-size: 16px;
}

.chck{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.submitformbtn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logbtn {
    height: 40px;
    width: 75%;
    padding: 3px 10px;
    margin-top: 55px;
    background-color: cornflowerblue;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #3f4848;
    background-image: linear-gradient(90deg, #3f4848 0%, #5d4b5d 42%, #735f5f 71%, #524a4a 100%);
}

.forget {
    /* margin-top: 40px; */
    margin-top: 50px;
}

.signup {
    margin-top: 0px;
    /* background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */


}