/* General Styles for All Screens */
.logpage {
    margin-top: 110px;
    margin-left: 30%;

}

.logbody {
    width: 100%;
    height: 100vh;
    background-color: #342b2b;
    background-image: linear-gradient(45deg, #342b2b 0%, #424040 40%, #3b3e3e 60%, #2b2826 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.log {
    border: 1px solid grey;
    border-radius: 40px 10px;
    width: 90%;
    max-width: 500px;
    height: auto;
    padding: 20px;
    box-shadow: 13px 12px 21px 11px rgba(0, 0, 0, 0.26);
    background-color: white;
}

.idpass {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

input[type="email"], input[type="password"] {
    height: 40px;
    width: 90%;
    max-width: 400px;
    padding: 3px 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    font-size: 16px;
}

#logbtn {
    height: 40px;
    width: 90%;
    max-width: 400px;
    margin-top: 30px;
    background-image: linear-gradient(90deg, #3f4848 0%, #5d4b5d 42%, #735f5f 71%, #524a4a 100%);
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.forget, .signup {
    margin-top: 20px;
    text-align: center;
}




/* Responsive Design */

@media (max-width: 480px) {
    .logpage {
        width: 100%;
        margin-top: 80px;
        margin-left: 20%;
    }
    .log {
        width: 90%;
        border-radius: 20px;
    }

    input[type="email"], input[type="password"], #logbtn {
        font-size: 14px;
    }

    .forget, .signup {
        font-size: 14px;
    }
}


@media (max-width: 768px) {
    .logpage {
        margin-top: 80px;
        margin-left: 18%;
    }
    .log {
        width: 85%;
    }

    #logbtn {
        font-size: 14px;
    }
}




@media (max-width: 1024px) {
    .logpage {
        width: 100%;
        margin-top: 80px;
        margin-left: 25%;
    }
}



/* Styles for Screens 1440px and Above */
@media (min-width: 1440px) {
    .logpage {
        width: 100%;
        margin-top: 80px;
        margin-left: 35%;
    }
    .log {
        width: 30%;
        max-width: 600px;
        padding: 30px;
    }

    input[type="email"], input[type="password"] {
        width: 80%;
        max-width: 500px;
        font-size: 18px;
    }

    #logbtn {
        width: 80%;
        max-width: 500px;
        font-size: 18px;
    }

    .forget, .signup {
        font-size: 16px;
    }
}
